<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<title>Recipe2Me - Yo lo pienso, tu solo lo cocinas</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/static/img/favicon-16x16.png}" href="/favicon-16x16.png" />
<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' />
<!-- <link th:href="@{/static/css/bootstrap.css}"
	href='../static/css/bootstrap.css' rel='stylesheet' type='text/css' />  -->
<link th:href="@{/static/css/theme.css}" href='../static/css/theme.css'
	rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
 <link th:href="@{/static/css/round-about.css}" href='../static/css/round-about.css' type='text/css'  rel="stylesheet"></link>
</head>
<body>
	<nav th:include="home :: nav" class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false"
					data-target="#navbar" data-toggle="collapse"
					class="navbar-toggle collapsed" type="button">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">Recipe2Me</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li th:class="((${menu}=='home')?'active')" th:href="@{/home}"><a
						href="/">Home</a></li>
					<li th:class="((${menu}=='about')?'active')"><a
						th:href="@{/about}" href="#about">About</a></li>
					<li th:class="((${menu}=='contact')?'active')"><a
						th:href="@{/contact}" href="#contact">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()"><a th:href="@{/signup}"
						href="/signup">Sign Up</a></li>
					<li sec:authorize="!isAuthenticated()" class="dropdown"><a
						class="dropdown-toggle" href="#" data-toggle="dropdown"
						role="button" aria-expanded="false">Login<span class="caret"></span></a>
						<div class="dropdown-menu" role="menu">
							<div class="col-sm-12">
								<form class="form" id="formLogin" th:action="@{/login}"
									method="POST">
									<input name="username" id="username" placeholder="Username"
										type="text" /> <input name="password" id="password"
										placeholder="Password" type="password" /><br />
									<button type="submit" id="btnLogin" class="btn">Login</button>
								</form>
							</div>
						</div></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"
						href="/logout">Logout</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	
    
    <div class="container" style="margin-top:-20px">
    	<!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sobre nosotros
                    <small>¡Encantados de conocerte!</small>
                </h1>
                <p>Somos un grupo de estudiantes de Master en Ingenieria Informatica en la UCM. Nuestro objetivo es realizar un sistema inteligente para la asignatura de "Desarrollo de Agentes y Sistemas Inteligentes"</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Nuestro equipo</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" height="200px" width="200px" src="http://placehold.it/200x200" alt=""></img>
                <h3>Esteban Armas
                    <small>Recurso persistencia</small>
                </h3>
                <p>Encargado de gestionar y mejorar todo lo relacionado con la persistencia en nuestro sistema inteligente</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" height="200px" width="200px" src="http://placehold.it/200x200" alt=""></img>
                <h3>Sergio García
                    <small>Integrador</small>
                </h3>
                <p>Encargado de integrar toda la funcionalidad que el resto de miembros del grupo va creando</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" height="200px" width="200px" src="http://placehold.it/200x200" alt=""></img>
                <h3>Iván Laclaustra
                    <small>Agente y Reglas</small>
                </h3>
                <p>Encargado de reglas, objetivos y  mejorar la conversación con los usuarios</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" height="200px" width="200px" src="http://placehold.it/200x200" alt=""></img>
                <h3>Javier Mansilla
                    <small>Agente y Reglas</small>
                </h3>
                <p>Encargado de reglas, objetivos y  mejorar la conversación con los usuarios</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" height="200px" width="200px" src="http://placehold.it/200x200" alt=""></img>
                <h3>Jesús Martín
                    <small>Recurso comunicación web</small>
                </h3>
                <p>Encargado de mejorar el aspecto visual de la web y la interacción con el usuario</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" height="200px" width="200px" src="static/img/logo.jpg" alt=""></img>
                <h3>Froggy
                    <small>Asistente personal</small>
                </h3>
                <p>Encargado de recibir y dialogar con todos los usuarios que nos visitan</p>
            </div>
        </div>

        <hr></hr>
        
    </div>
    
    
    
	<footer th:include="home :: footer">
		<script th:src="@{/static/js/script.js}" src="../static/js/script.js"></script>
		<script th:src="@{/static/js/jquery.js}" src="../static/js/jquery.js"></script>
		<script th:src="@{/static/js/npm.js}" src="../static/js/npm.js"></script>
		<script th:src="@{/static/js/bootstrap.js}"
			src="../static/js/bootstrap.js"></script>
	</footer>
</body>
</html>
